extends ../layout.pug
block content
    h1 Enregistrer un bien
    if error 
        div.alert.alert-danger #{error}
    form(action='/admin/realty/add' method="post")

        fieldset 
            legend Adresse du bien
            .mb-3
                label.form-label Adresse 1
                input(type="text" class="form-control" placeholder="Adresse" name="address[address1]")  

            .mb-3
                label.form-label Adresse 2
                input(type="text" class="form-control" placeholder="Adresse" name="address[address2]")
    
            .mb-3
                label Code postal
                input(type="text" class="form-control" placeholder="Code postal" name="address[zipcode]")  

            .mb-3
                label Ville
                input(type="text" class="form-control" placeholder="Ville" name="address[city]")  

            .mb-3
                label Informations complémentaires
                input(type="textarea" class="form-control" placeholder="Informations complémentaires" name="address[info]")  

        fieldset 
            legend Contact du bien 
            .mb-3
                label Prénom
                input(type="text" class="form-control" placeholder="Prénom" name="contact[firstname]")  

            .mb-3
                label Nom de famille
                input(type="text" class="form-control" placeholder="Nom de famille" name="contact[lastname]")  

            .mb-3
                label Email
                input(type="email" class="form-control" placeholder="Email" name="contact[email]")  

            .mb-3
                label Numéro de téléphone fixe
                input(type="number" class="form-control" placeholder="Numéro de téléphone fixe" name="contact[phone]")  

            .mb-3
                label Numéro de mobile
                input(type="number" class="form-control" placeholder="Numéro de mobile" name="contact[mobile]")  

            .mb-3
                label Informations complémentaires
                input(type="textarea" class="form-control" placeholder="Informations complémentaires" name="contact[info]")  
        
        fieldset 
            legend Informations du bien
            .mb-3
                label Type de bien
                input(type="text" class="form-control" placeholder="Type de bien" name="realty[type]")

            .mb-3
                label Surface (m²)
                input(type="number" class="form-control" placeholder="Surface en m²" name="realty[area]")

            .mb-3
                label Nombre de pièces
                input(type="number" class="form-control" placeholder="Nombre de pièces" name="realty[room]")

            .mb-3
                label Prix net vendeur
                input(type="number" class="form-control" placeholder="Prix net vendeur" name="realty[price]")

            .mb-3
                label Informations complémentaires
                input(type="textarea" class="form-control" placeholder="Informations complémentaires" name="realty[info]")

        fieldset 
            legend Agent immobilier
            .mb-3
                label Email
                input(type="email" class="form-control" placeholder="Email" name="agent[email]")

            .mb-3
                label Prénom
                input(type="text" class="form-control" placeholder="Prénom" name="agent[firstname]")

            .mb-3
                label Nom de famille
                input(type="text" class="form-control" placeholder="Nom de famille" name="agent[lastname]")

            .mb-3
                label Numéro de téléphone
                input(type="number" class="form-control" placeholder="Numéro de téléphone" name="agent[phone]")

        .row.justify-content-center
            .col-2
                .mt-3
                    button.btn.btn-primary(type="submit") Enregistrer