extends ../layout.pug
block content
    h1 Enregistrer un bien
    if error 
        div.alert.alert-danger #{error}
    form(action='/add' method="post")

        fieldset 
            legend Adresse du bien
                .input-group.mb-3
                .input-group-prepend
                    .input-group-text.d-none.d-lg-block 
                            label Nom du vendeur
                            input(type="text" class="form-control" placeholder="Nom du vendeur" name="last-name")     

        .row.justify-content-center
            .col-2
                button.btn.btn-primary(type="submit") Enregistrer